.catalogo-entidad__container {
  padding: 1rem;
}

@media (min-width: 768px) {
  .catalogo-entidad__container {
    padding: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .catalogo-entidad__container {
    padding: 2rem;
  }
}

